.header {
  padding-top: 2em;

  .limiter {

    @include breakpoint(medium) {
      // scss-lint:disable PropertySortOrder
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      align-items: flex-start;
    }

  }

  nav {
    margin-bottom: 0;
    margin-top: 2em;

    @include breakpoint(medium) {
      margin-left: auto;
      margin-top: 0;
    }

    a {
      display: inline-block;
      padding-right: 1em;
    }
  }
}


.logo-community {

  @include breakpoint(medium) {
    margin-right: .5em;
  }

  svg {
    display: block;
    width: 125px;
  }

}

section {
  margin-bottom: 8em;
  padding-top: .5em;

  h2 + p img {
    border-radius: .25em;
  }

}

.section-header {
  display: block;
  margin-bottom: 2em;
}

.break {
  margin: 0 auto 6em;
  width: 150px;
}

.responsive-calendar {
  height: 0;
  margin-bottom: 2em;
  overflow: hidden;
  padding-bottom: 75%;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.ad {
  background-color: $accent-main;
  border-radius: .25em;
  color: $white;
  padding: 1em;

  @include breakpoint(medium) {
    // scss-lint:disable PropertySortOrder
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  p {
    margin-bottom: 0;

    @include breakpoint(medium) {
      margin-left: 2em;
    }

  }

  a {
    color: $white;
    text-decoration: underline;
  }

  svg {
    display: block;
    flex-shrink: 0;
    height: 75px;
    width: 75px;
  }
}

.photos {
  margin-bottom: 1em;
}

.img-half {

  @include breakpoint(large) { width: 49.6%; }

}

.img-thirds {

  @include breakpoint(large) {
    width: 32.89%;
  }

}

.img-fourths {

  @include breakpoint(large) { width: 24.5%; }

}

.img-split-wide,
.img-wide {

  @include breakpoint(large) { width: 62.7%; }

}

.img-split-tall,
.img-tall {

  @include breakpoint(large) { width: 35.25%; }

}
