.events {
  margin: 2em 0 1em;
}

.event {
  // scss-lint:disable PropertySortOrder
  background: $gold;
  border-radius: .25em;
  padding: 1em;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  margin-bottom: 1em;
}

.event-img {
  flex-shrink: 0;
}


.speaker-img-small {
  background-size: 100%;
  border-radius: 100%;
  display: inline-block;
  height: 100px;
  margin: 0 2em 0 0;
  vertical-align: middle;
  width: 100px;
}

.speaker-name {
  margin-bottom: .25em;
}

.speaker-date {
  margin-bottom: 1em;
}
